@model List<ResultSocialMediaDto>

<div class="footer_social">
    @foreach (var item in Model)
    {
        <a href="@item.Url" target="_blank">
            <i class="@item.Icon" aria-hidden="true"></i>
        </a>
    }

</div>