@model SignalRWebUI.Dtos.BookingDtos.CreateBookingDto
@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Add New Booking</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Add New Booking</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Bookingname">Name</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                            </div>

                            <div class="form-group">
                                <label for="Mail">Mail</label>
                                <input type="email" class="form-control" asp-for="Mail" placeholder="Mail">
                            </div>

                            <div class="form-group">
                                <label for="Phone">Phone</label>
                                <input type="text" class="form-control" asp-for="Phone" placeholder="Phone">
                            </div>

                            <div class="form-group">
                                <label for="PersonCount">PersonCount</label>
                                <input type="text" class="form-control" asp-for="PersonCount" placeholder="PersonCount">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Add To Booking</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

